.Background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #00000042;
  z-index: 4;
}

.LightMode, .DarkMode {
  display: flex;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  flex-direction: column;
  padding: 2rem;
  min-height: 30rem;
  height: auto;
  width: 90%;
  max-width: 50rem;
  border: 1px solid gray;
  z-index: 5;

  h1 {
    margin: 0 0 1rem 0;
    font-size: 3rem;
  }

  button {
    align-items: center;
    border: none;
    text-transform: uppercase;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    margin: auto 0 0 0;
    min-height: 4rem;

    &:active {
      background-color: #f5f7f6;
      color: #000;
      border: 1px solid #000;
      transition: 200ms;
    }
  }
}

.LightMode {
  background-color: #f5f7f6;
  color: #000;

  button {
    background-color: #000;

    &:active {
      background-color: #f5f7f6;
      color: #000;
      border: 1px solid #000;
      transition: 200ms;
    }
  }
}

.DarkMode {
  background-color: #1b1b1e;
  color: #fff;

  button {
    background-color: #5e5ce5;


    &:active {
      filter: Brightness(0.8);
      transition: 200ms;
    }
  }
}

@media (max-width: 600px) {
  .LightMode, .DarkMode {
    min-height: 38rem;
    height: auto;
    width: 90vw;
    max-width: 50rem;
  }
}
