.lightMode, .darkMode {
  min-height: 100vh;
  padding: 6rem 0 0 0;
  transition: 200ms;

  .card {
    margin: 0 auto;
    min-height: 10em;
    width: 50%;

    .cardTitle {
      text-align: center;
      margin: .5em 0 1em;
    }

    .card_container {
      padding: 0 0 2em 0;

      .card_container_item {
        display: flex;
        height: 7em;
        width: 100%;
        align-items: center;
        border-bottom: .5px solid #000;

        .card_container_itemImage {
          height: 5em;
          width: 5em;
        }

        .card_container_item_leftdetail {
          margin: 0 0 0 .5em;

          .card_container_item_leftdetailName {
            font-weight: 600;
          }

          .card_container_item_leftdetailRemove {
            font-size: .6em;
            height: 1.5em;
            width: 4em;
            cursor: pointer;
            text-transform: uppercase;
            color: #000;
            border-bottom: 1px solid gray;
            text-align: center;
          }
        }

        .card_container_item_rightdetail {
          display: flex;
          align-items: center;
          min-width: 8em;
          margin: 0 0 0 auto;

          .card_container_item_rightdetailPrice {
            margin: 0 1vw 0 auto;
          }

          button {
            height: 2em;
            width: 2em;
            background-color: #FFF;
            color: #000;
          }

          .UpdateItemQuantity {
            cursor: pointer;

            &:active {
              filter: Brightness(.8);
              transition: 200ms;
            }
          }

          .Quantity {
            color: #000;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .card_containerTotalPrice {
      margin: 35vh 0 1em .5em;
      font-weight: 600;

      .card_containerTotalPriceNumber {
        margin: 0 0 0 .3em;
        font-weight: 400;
      }
    }

    .card_containerPayButton {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: .5em;
      text-transform: uppercase;
      cursor: pointer;
      color: #FFF;
      margin: 0 auto 3em auto;
      height: 4em;
      width: 20em;

      &:active {
        transition: 200ms;
      }
    }
  }
}

.lightMode {
  background-color: #f5f7f6;

  .card {
    .card_container {
      .card_container_item {
        border-bottom: .5px solid #000;


        .card_container_item_leftdetail {
          .card_container_item_leftdetailRemove {
            color: #000;
          }
        }

        .card_container_item_rightdetail {
          button {
            border: lightgray solid 1px;
          }
        }
      }
    }

    .card_containerPayButton {
      background-color: #000;
      box-shadow: rgba(0,0,0,.14) 0px 2px 2px 0px;

      &:active {
        background-color: #f5f7f6;
        border: 1px solid #000;
        color: #000;
      }
    }
  }
}

.darkMode {
  background-color: #1B1B1E;

  .card {
    .cardTitle {
      color: #FFF;
    }

    .card_container {
      padding: 0 0 1em 0;

      .card_container_item {
        border-bottom: .5px solid gray;

        .card_container_item_leftdetail {
          .card_container_item_leftdetailName {
            color: #FFF;
          }

          .card_container_item_leftdetailRemove {
            color: lightgray;
          }
        }

        .card_container_item_rightdetail {
          .card_container_item_rightdetailPrice {
            color: lightgray;
          }

          button {
            border: gray solid 1px;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .card_containerTotalPrice {
      color: #FFF;
    }

    .card_containerPayButton {
      background-color: #5E5CE5;

      &:active {
        filter: Brightness(.8);
      }
    }
  }
}

@media (max-width: 800px) {
  .lightMode > .card, .darkMode > .card {
    width: 90%;
  }
}
