.LightMode {
  background-color: #f5f7f6;
  min-height: 100vh;
  padding: 6em 0 0 0;
  transition: 200ms;
  
  .Container {
    display: flex;
    margin: 0 auto;
    width: 40em;
    flex-wrap: wrap;
  }
}


.DarkMode {
  background-color: #2A2D34;
  min-height: 100vh;
  padding: 6em 0 0 0;
  transition: 200ms;
  
  .Container {
    display: flex;
    margin: 0 auto;
    width: 40em;
    flex-wrap: wrap;
  }
}

@media (max-width: 800px) {
  .LightMode {
    .Container {
      width: 100%;
    }
  }
  
  .DarkMode {
    .Container {
      width: 100%;
    }
  }
}