@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100&family=Kanit:ital,wght@1,700&family=League+Gothic&family=Raleway:wght@600&family=Roboto&family=Rubik+Mono+One&family=Teko:wght@600&display=swap');

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}