.LightMode {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #eeeeee;
  transition: 200ms;
  border-bottom: 1px solid gray;
  padding: 0 .5em;
  height: 4rem;
  width: 100%;
  z-index: 3;
  
  .Title {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0 auto 0 0;
    color: #000;
    font-size: 2em;
    font-weight: 700;
  }

  .IconButton {
    cursor: pointer;
    height: 1.7em;
    width: 1.7em;
    
    .Icon {
      height: 2rem;
      color: #000;
    }
    
    .TotalItemsCart {
      position: absolute;
      font-size: .7em;
      margin: 0 0 2em 1.5em;
    }

    &:active, &:hover {
      background-color: #e0e0e0;
      transition: 500ms;
    }
  }
}

.DarkMode {
  display: flex;
  position: fixed;
  align-items: center;
  background-color: #1B1B1E;
  transition: 200ms;
  border-bottom: 1px solid gray;
  padding: 0 .5em;
  height: 4rem;
  width: 100%;
  z-index: 3;
  
  .Title {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin: 0 auto 0 0;
    color: #FFF;
    font-size: 2em;
    font-weight: 700;
  }

  .IconButton {
    cursor: pointer;
    height: 1.7em;
    width: 1.7em;

    .Icon {
      height: 2rem;
      color: #FFF;
    }
    
    .TotalItemsCart {
      position: absolute;
      color: #5E5CE5;
      font-size: .7em;
      margin: 0 0 2em 1.5em;
    }

    &:active, &:hover {
      background-color: #393c43;
      transition: 500ms;

      .Icon {
        transition: 500ms;
        color: lightgray;
      }
    }
  }
}


.Menu {
  margin: .4em 0 0 -.5em;
  
  .MenuItem {
    padding: 0;

    label {
      display: flex;
      padding: 0 0 0 1em;
      cursor: pointer;
      align-items: center;
      height: 3em;
      width: 100%;
      
      p {
        margin: 0 0 0 .5em;
      }
    }
  }
  
  .ThemeCheckbox {
    padding: 0;

    label {
      align-items: center;
      width: 100%;
      
      .Checkbox {
        height: 2.5em;
        margin: 0 0 0 .7em;
      }
    }
  }
}