.LightMode {
  display: flex;
  justify-content: center;
  background-color: #f5f7f6;
  min-height: 100vh;

  .Container {
    background-color: #f5f7f6;
    margin: 4em 0;
    height: 35em;
    width: 23em;

    .Title {
      color: #000;
      text-align: center;
      margin: 2em 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        border: 1px solid #e0dee4;
        color: #A8A5AF;
        outline: none;
        border-radius: .6em;
        background-color: #F4F3F5;
        margin: .5em 5vw;
        padding: 0 0 0 2vw;
        height: 5vw;
        width: 30vw;
        
        &:focus {
          background-color: #E8E7EB;
          border: 1px solid #9895A2;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: .7em;
        background-color: #000;
        box-shadow: rgba(0,0,0,0.14) 0px 2px 2px 0px;
        color: #FFF;
        margin: 2em 0 0 0;
        height: 5vw;
        width: 30vw;

        &:hover {
          background-color: #181818;
          transition: 200ms;
        }
      }

      .Chrome {
        background-color: #e4e4e4;
        color: #000;
        
        .ChromeIcon {
          margin: 0 .5em 0 0;
        }

        &:hover {
          background-color: #a6a6a6;
        }
      }
    }


    p {
      font-size: .8em;
      margin: 7em 0 3em 0;
      color: #000;
      text-align: center;

      a {
        outline: none;
        text-decoration: none;
        color: #000;
        margin: 0 0 0 .4em;
        font-weight: 800;
      }
    }
  }
}

.DarkMode {
  display: flex;
  justify-content: center;
  background-color: #1B1B1E;
  min-height: 100vh;

  .Container {
    background-color: #1B1B1E;
    margin: 4em 0;
    height: 35em;
    width: 23em;

    .Title {
      color: #FFF;
      text-align: center;
      margin: 2em 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        border: 1px solid #e0dee4;
        color: #A8A5AF;
        outline: none;
        border-radius: .5em;
        background-color: #F4F3F5;
        margin: .5em 5vw;
        padding: 0 0 0 2vw;
        height: 5vw;
        width: 30vw;
        
        &:focus {
          background-color: #d8d6dd;
          border: 1px solid #9895A2;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: .7em;
        background-color: #5E5CE5;
        color: #FFF;
        margin: 2em 0 0 0;
        height: 5vw;
        width: 30vw;

        &:hover {
          background-color: #4810aa;
          transition: 200ms;
        }
      }

      .Chrome {
        background-color: #e4e4e4;
        color: #000;

        .ChromeIcon {
          margin: 0 .5em 0 0;
        }

        &:hover {
          background-color: #a6a6a6;
        }
      }
    }

    p {
      font-size: .8em;
      margin: 7em 0 3em 0;
      color: #FFF;
      text-align: center;

      a {
        outline: none;
        text-decoration: none;
        color: #5E5CE5;
        margin: 0 0 0 .4em;
        font-weight: 800;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  .LightMode {
    .Container {
      width: 90vw;

      form {
        input {
          height: 4em;
          width: 80vw;
        }

        button {
          /*margin: 1em 0;*/
          height: 4em;
          width: 80vw;
        }
      }
    }
  }

  .DarkMode {
    .Container {
      width: 90vw;

      form {
        input {
          height: 4em;
          width: 80vw;
        }

        button {
          /*margin: 1em 0;*/
          height: 4em;
          width: 80vw;
        }
      }
    }
  }
}