.LightMode {
  background-color: #f5f7f6;
  min-height: 100vh;
  padding: 4em 0 0 0;
  transition: 200ms;
  
  .Container {
    margin: 0 auto;
    width: 90%;
    
    h1 {
      align-content: center;
    }
  }
}

.DarkMode {
  background-color: #2A2D34;
  padding: 4em 0 0 0;
  min-height: 100vh;
  transition: 200ms;
  
  .Container {
    margin: 0 auto;
    width: 90%;
    
    h1 {
      align-content: center;
    }
  }
}

@media (max-width: 600px) {
  .LightMode {
    /*width: 100%;*/
  }
  
  .DarkMode {
    /*width: 100%;*/
  }
}