.lightMode {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7f6;
  min-height: 100vh;
  transition: 200ms;

  .product {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 25vw;
    min-width: 26rem;
    width: 26vw;

    .productImage {
      min-height: 15rem;
      height: 17vw;
      min-width: 15rem;
      width: 17vw;
    }

    .product_description {
      display: flex;
      margin: 0 auto 0 2vw;
      flex-direction: column;

      .product_descriptionName {
        font-size: 2vw;
      }

      .product_descriptionPrice {
        font-size: 1.5vw;
      }

      .product_descriptionSelect {
        font-size: 1vw;
        margin: .5vw 0 0 0;
        width: 6vw;
        border: 1px #fff solid;
        appearance: none;
      }
    }

    .productButton {
      position: absolute;
      align-items: center;
      border: none;
      text-transform: uppercase;
      background-color: #000;
      box-shadow: rgba(0, 0, 0, .14) 0px 2px 2px 0px;
      cursor: pointer;
      color: #fff;
      font-size: .7vw;
      margin: 20vw 0 0 0;
      min-height: 3.5rem;
      height: 3vw;
      min-width: 26rem;
      width: 26vw;

      &:active {
        background-color: #f5f7f6;
        color: #000;
        border: 1px solid #000;
        transition: 200ms;
      }
    }
  }
}

.darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1b1e;
  min-height: 100vh;
  transition: 200ms;

  .product {
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 25vw;
    min-width: 26rem;
    width: 26vw;

    .productImage {
      min-height: 15rem;
      height: 17vw;
      min-width: 15rem;
      width: 17vw;
    }

    .product_description {
      display: flex;
      margin: 0 auto 0 2vw;
      flex-direction: column;

      .product_descriptionName {
        font-size: 2vw;
        color: #fff;
      }

      .product_descriptionPrice {
        font-size: 1.5vw;
        color: #fff;
      }

      .product_descriptionSelect {
        color: #fff;
        font-size: 1vw;
        margin: .5vw 0 0 0;
        width: 6vw;
        border: 1px #fff solid;
        appearance: none;
      }
    }

    .productButton {
      position: absolute;
      align-items: center;
      border: none;
      text-transform: uppercase;
      background-color: #5e5ce5;
      cursor: pointer;
      color: #fff;
      font-size: .7vw;
      margin: 20vw 0 0 0;
      min-height: 3.5rem;
      height: 3vw;
      min-width: 26rem;
      width: 26vw;

      &:active {
        filter: Brightness(.8);
        transition: 200ms;
      }
    }
  }
}

@media (max-width: 800px) {
  .lightMode > .product {
    flex-direction: column;
    padding: 3em 0;
    height: 40rem;
    max-width: 20em;

    .productImage {
      margin: 0 auto 3em auto;
    }

    .product_description {
      flex-direction: column;
      position: relative;
      margin: 0 0 3rem 0;

      .product_descriptionName {
        font-size: 2rem;
      }

      .product_descriptionPrice {
        font-size: 1.5rem;
      }

      .product_descriptionSelect {
        font-size: 1rem;
        margin: -4.5rem 0 0 auto;
        width: 5rem;
      }
    }

    .productButton {
      position: relative;
      font-size: 1rem;
      margin: 5vw 0 0 0;
      min-height: 4.5rem;
      width: 100%;
    }
  }

  .darkMode > .product {
    flex-direction: column;
    padding: 3em 0;
    height: 40rem;
    max-width: 20em;

    .productImage {
      margin: 0 auto 3em auto;
    }

    .product_description {
      flex-direction: column;
      position: relative;
      margin: 0 0 3rem 0;

      .product_descriptionName {
        font-size: 2rem;
      }

      .product_descriptionPrice {
        font-size: 1.5rem;
      }

      .product_descriptionSelect {
        font-size: 1rem;
        margin: -4.5rem 0 0 auto;
        width: 5rem;
      }
    }

    .productButton {
      position: relative;
      font-size: 1rem;
      margin: 5vw 0 0 0;
      min-height: 4.5rem;
      width: 100%;
    }
  }
}
